body {
    margin: 0; /* remove default margin */
    overflow: hidden; /* remove scroll bar */
    position: relative; /* make sure the background is fixed */
}

#background-container {
    position: fixed; /* make sure the background is fixed */
    top: 0; /* make sure the background is fixed */
    left: 0; /* make sure the background is fixed */
    width: 100%; /* make sure the background is fixed */
    height: 100%; /* make sure the background is fixed */
    z-index: -1; /* make sure the background is fixed */
}

.background {
    position: absolute; /* make sure the background is fixed */
    top: 0; /* make sure the background is fixed */
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat; /* make sure the background is fixed */
    background-size: cover; /* make sure the background is fixed */
    transition: opacity 3s ease-in-out; /* transition effect is used to set the opacity of the background */
    opacity: 0;
}

.background.current {
    opacity: 1;
}

/* #head is used to display the title of the clock */
#head {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2; /* make sure the title is on top of the background */
    padding: 10px 0;
}

/* h3 is used to display the title of the clock */
#head h3 {
    margin: 0;
    padding: 15px 0;
    font-size: 2.5rem;
}

#clock-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    z-index: 1;
}

#clock {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
    color: white;
    backdrop-filter: blur(1px);
    background-color: hsla(0, 0%, 100%, 0.1);
    width: 100%;
    padding: 20px 0;
}